Inventory For TZ-GO/Inventory For TZ-GO-0121/Inventory For TZ-GO/Inventory For TZ-GO/Inventory/Service References/webservicesinNotebook/TZGO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Calculate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WLBM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PANDIANREN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUANQU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BEIZHU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUANHAO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GAODU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YOUWEN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QIWEN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BZMD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BZWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BHXS" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="WDXS" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateSoapIn">
    <wsdl:part name="parameters" element="tns:Calculate" />
  </wsdl:message>
  <wsdl:message name="CalculateSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateResponse" />
  </wsdl:message>
  <wsdl:portType name="TZGO_CalculateMenuSoap">
    <wsdl:operation name="Calculate">
      <wsdl:input message="tns:CalculateSoapIn" />
      <wsdl:output message="tns:CalculateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TZGO_CalculateMenuSoap" type="tns:TZGO_CalculateMenuSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculate">
      <soap:operation soapAction="http://tempuri.org/Calculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TZGO_CalculateMenuSoap12" type="tns:TZGO_CalculateMenuSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculate">
      <soap12:operation soapAction="http://tempuri.org/Calculate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TZGO_CalculateMenu">
    <wsdl:port name="TZGO_CalculateMenuSoap" binding="tns:TZGO_CalculateMenuSoap">
      <soap:address location="http://10.229.168.203:20822/TZGO.CalculateMenu.asmx" />
    </wsdl:port>
    <wsdl:port name="TZGO_CalculateMenuSoap12" binding="tns:TZGO_CalculateMenuSoap12">
      <soap12:address location="http://10.229.168.203:20822/TZGO.CalculateMenu.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>