SelfHelpSystem/HelpSelfMachine1/SelfHelpSystem/AFCE/Service References/LDAPVerification/LDAPVerification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoginYesOrNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UsernameTextBox" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PasswordTextBox" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginYesOrNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginYesOrNoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginYesOrNoSoapIn">
    <wsdl:part name="parameters" element="tns:LoginYesOrNo" />
  </wsdl:message>
  <wsdl:message name="LoginYesOrNoSoapOut">
    <wsdl:part name="parameters" element="tns:LoginYesOrNoResponse" />
  </wsdl:message>
  <wsdl:portType name="LDAPVerificationSoap">
    <wsdl:operation name="LoginYesOrNo">
      <wsdl:input message="tns:LoginYesOrNoSoapIn" />
      <wsdl:output message="tns:LoginYesOrNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LDAPVerificationSoap" type="tns:LDAPVerificationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginYesOrNo">
      <soap:operation soapAction="http://tempuri.org/LoginYesOrNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LDAPVerificationSoap12" type="tns:LDAPVerificationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginYesOrNo">
      <soap12:operation soapAction="http://tempuri.org/LoginYesOrNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LDAPVerification">
    <wsdl:port name="LDAPVerificationSoap" binding="tns:LDAPVerificationSoap">
      <soap:address location="http://222.189.4.146:20820/LDAPVerification.asmx" />
    </wsdl:port>
    <wsdl:port name="LDAPVerificationSoap12" binding="tns:LDAPVerificationSoap12">
      <soap12:address location="http://222.189.4.146:20820/LDAPVerification.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>