QZH-GO IvnetoryAPP/QZHGOIvnetoryAPP/QZHIvnetoryClient/Inventory/Service References/QZ_Calcutelate/QUANZHOU.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Calculate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guanqu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlbm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="youpin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beizhu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pandianren" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jianpanren" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gaodu" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="youwen" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="midu" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="guanhao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateSoapIn">
    <wsdl:part name="parameters" element="tns:Calculate" />
  </wsdl:message>
  <wsdl:message name="CalculateSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateResponse" />
  </wsdl:message>
  <wsdl:portType name="QZCANSoap">
    <wsdl:operation name="Calculate">
      <wsdl:input message="tns:CalculateSoapIn" />
      <wsdl:output message="tns:CalculateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QZCANSoap" type="tns:QZCANSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculate">
      <soap:operation soapAction="http://tempuri.org/Calculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QZCANSoap12" type="tns:QZCANSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculate">
      <soap12:operation soapAction="http://tempuri.org/Calculate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QZCAN">
    <wsdl:port name="QZCANSoap" binding="tns:QZCANSoap">
      <soap:address location="http://222.189.4.146:8578/QUANZHOU.asmx" />
    </wsdl:port>
    <wsdl:port name="QZCANSoap12" binding="tns:QZCANSoap12">
      <soap12:address location="http://222.189.4.146:8578/QUANZHOU.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>