Inventory For LYG-GO/Inventory/Service References/S2/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Calculate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sjfzz" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pdsj" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gaodu2" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="gaodu3" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="youwen2" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="youwen3" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="yp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wlbm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pandianren" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jianpanren" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="guanqu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beizhu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="guanhao_w" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gaodu_w" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="youwen_w" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="qiwen_w" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="bzmd_w" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="bzwd_w" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bhxs_w" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateSoapIn">
    <wsdl:part name="parameters" element="tns:Calculate" />
  </wsdl:message>
  <wsdl:message name="CalculateSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateResponse" />
  </wsdl:message>
  <wsdl:portType name="Service2Soap">
    <wsdl:operation name="Calculate">
      <wsdl:input message="tns:CalculateSoapIn" />
      <wsdl:output message="tns:CalculateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service2Soap" type="tns:Service2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculate">
      <soap:operation soapAction="http://tempuri.org/Calculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service2Soap12" type="tns:Service2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculate">
      <soap12:operation soapAction="http://tempuri.org/Calculate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="Service2Soap" binding="tns:Service2Soap">
      <soap:address location="http://222.189.4.146:20822/Service2.asmx" />
    </wsdl:port>
    <wsdl:port name="Service2Soap12" binding="tns:Service2Soap12">
      <soap12:address location="http://222.189.4.146:20822/Service2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>