VehicleDynamicScrollingInFCG-LO/20090430/Service References/lygport_inside/YhService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cryptogram" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vehicle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="externo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="veh_return" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="in_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PictureGate" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="PictureVehicle" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="strErr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone_no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertConsignVehicle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cryptogram" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vehicle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone_no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertConsignVehicleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertConsignVehicleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateConsignVehicle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cryptogram" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vehicle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateConsignVehicleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateConsignVehicleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetInRecordSoapIn">
    <wsdl:part name="parameters" element="tns:GetInRecord" />
  </wsdl:message>
  <wsdl:message name="GetInRecordSoapOut">
    <wsdl:part name="parameters" element="tns:GetInRecordResponse" />
  </wsdl:message>
  <wsdl:message name="InsertConsignVehicleSoapIn">
    <wsdl:part name="parameters" element="tns:InsertConsignVehicle" />
  </wsdl:message>
  <wsdl:message name="InsertConsignVehicleSoapOut">
    <wsdl:part name="parameters" element="tns:InsertConsignVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateConsignVehicleSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateConsignVehicle" />
  </wsdl:message>
  <wsdl:message name="UpdateConsignVehicleSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateConsignVehicleResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInRecord">
      <wsdl:input message="tns:GetInRecordSoapIn" />
      <wsdl:output message="tns:GetInRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertConsignVehicle">
      <wsdl:input message="tns:InsertConsignVehicleSoapIn" />
      <wsdl:output message="tns:InsertConsignVehicleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConsignVehicle">
      <wsdl:input message="tns:UpdateConsignVehicleSoapIn" />
      <wsdl:output message="tns:UpdateConsignVehicleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInRecord">
      <soap:operation soapAction="http://tempuri.org/GetInRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertConsignVehicle">
      <soap:operation soapAction="http://tempuri.org/InsertConsignVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConsignVehicle">
      <soap:operation soapAction="http://tempuri.org/UpdateConsignVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInRecord">
      <soap12:operation soapAction="http://tempuri.org/GetInRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertConsignVehicle">
      <soap12:operation soapAction="http://tempuri.org/InsertConsignVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConsignVehicle">
      <soap12:operation soapAction="http://tempuri.org/UpdateConsignVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://218.92.115.32/YhService/YhService.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://218.92.115.32/YhService/YhService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>